Repository microsoft/dotnet-framework-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

eng/pipelines/dotnet-framework-pr-no-cache.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/stages/dotnet-framework-base.yml@self
      stagesTemplateParameters:
        versionsRepoRef: VersionsRepo
        noCache: true

eng/pipelines/dotnet-framework-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/stages/dotnet-framework-base.yml@self
      stagesTemplateParameters:
        versionsRepoRef: VersionsRepo

Fix ROSLYN_COMPILER_LOCATION test
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageDescriptor.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageDescriptorExtensions.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix VS version test
  tests/Microsoft.DotNet.Framework.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageDescriptorExtensions.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update SDK datestamps to 2025-11-18
  README.sdk.md
  manifest.datestamps.json
Due: eng/pipelines/dotnet-framework-pr.yml

Update Visual Studio tools to 2026 and add .NET 10 Runtime to SDK images (#1271)
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.sdk.portal.md
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.install-vs-buildtools
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  eng/readme-templates/About.sdk.md
  manifest.datestamps.json
  manifest.versions.json
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  tests/Microsoft.DotNet.Framework.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageDescriptor.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageDescriptorExtensions.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update eng/common references to eng/docker-tools
  .github/workflows/lint-code-base.yml
  build-and-test.ps1
  eng/dockerfile-templates/Get-GeneratedDockerfiles.ps1
  eng/pipelines/cg-detection.yml
  eng/pipelines/dotnet-framework-pr-no-cache.yml
  eng/pipelines/dotnet-framework-pr.yml
  eng/pipelines/dotnet-framework-samples.yml
  eng/pipelines/dotnet-framework.yml
  eng/pipelines/stages/dotnet-framework-base.yml
  eng/pipelines/update-readmes.yml
  eng/pipelines/variables/common.yml
  eng/readme-templates/Get-GeneratedReadmes.ps1
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update NuGet CLI to 7.0.1
  README.sdk.md
  manifest.datestamps.json
  manifest.versions.json
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update NuGet CLI to 7.0.1 (#1280)
  README.sdk.md
  manifest.datestamps.json
  manifest.versions.json
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Only verify VS 18 major version in tests
  manifest.versions.json
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/readme.md
  eng/docker-tools/templates/1es.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix version parsing to append ".0" for single number versions
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageDescriptorExtensions.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/readme.md
  eng/docker-tools/templates/1es.yml
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/cg-build-projects.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/steps/annotate-eol-digests.yml
  eng/docker-tools/templates/steps/clean-acr-images.yml
  eng/docker-tools/templates/steps/copy-base-images.yml
  eng/docker-tools/templates/steps/generate-appsettings.yml
  eng/docker-tools/templates/steps/init-docker-linux.yml
  eng/docker-tools/templates/steps/init-docker-windows.yml
  eng/docker-tools/templates/steps/init-matrix-build-publish.yml
  eng/docker-tools/templates/steps/publish-readmes.yml
  eng/docker-tools/templates/steps/run-imagebuilder.yml
  eng/docker-tools/templates/steps/set-dry-run.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/steps/validate-branch.yml
  eng/docker-tools/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Only verify VS 18 major version in tests (#1281)
  manifest.versions.json
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageDescriptorExtensions.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update registry service connection references
  eng/pipelines/stages/dotnet-framework-base.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1282)
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/readme.md
  eng/docker-tools/templates/1es.yml
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/cg-build-projects.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/steps/annotate-eol-digests.yml
  eng/docker-tools/templates/steps/clean-acr-images.yml
  eng/docker-tools/templates/steps/copy-base-images.yml
  eng/docker-tools/templates/steps/generate-appsettings.yml
  eng/docker-tools/templates/steps/init-docker-linux.yml
  eng/docker-tools/templates/steps/init-docker-windows.yml
  eng/docker-tools/templates/steps/init-matrix-build-publish.yml
  eng/docker-tools/templates/steps/publish-readmes.yml
  eng/docker-tools/templates/steps/run-imagebuilder.yml
  eng/docker-tools/templates/steps/set-dry-run.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/steps/validate-branch.yml
  eng/docker-tools/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
  eng/pipelines/stages/dotnet-framework-base.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1284)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove 3.5 from featured tags
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
  eng/update-dependencies/LcuVariableUpdater.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove 3.5 from Featured Tags section in Readmes (#1285)
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
  eng/update-dependencies/LcuVariableUpdater.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use Permissive network isolation policy to workaround images reaching out to nuget.org
  eng/pipelines/dotnet-framework-samples.yml
  eng/pipelines/dotnet-framework.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use Permissive network isolation policy to workaround images reaching out to nuget.org (#1287)
  eng/pipelines/dotnet-framework-samples.yml
  eng/pipelines/dotnet-framework.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/variables/docker-images.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-testrunner.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update READMEs
  README.aspnet.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
Due: none

[main] Update common Docker engineering infrastructure with latest (#1288)
  README.aspnet.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-testrunner.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add AGENTS.md
  AGENTS.md
Due: eng/pipelines/dotnet-framework-pr.yml

Use dotnet-public feed for NuGet package downloads
  eng/dockerfile-templates/aspnet/Dockerfile
  eng/dockerfile-templates/aspnet/Dockerfile.pre20H2
  eng/dockerfile-templates/sdk/Dockerfile.install-reference-assemblies
  manifest.versions.json
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove "Permissive" network policy override
  eng/pipelines/dotnet-framework-samples.yml
  eng/pipelines/dotnet-framework.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add NuGet.config to sample Dockerfiles
  samples/aspnetapp/Dockerfile
  samples/aspnetapp/NuGet.config
  samples/aspnetmvcapp/Dockerfile
  samples/aspnetmvcapp/NuGet.config
  samples/dotnetapp/Dockerfile
  samples/dotnetapp/NuGet.config
Due: none

Prevent dotnet-framework-pr from running when AGENTS.md is modified
  eng/pipelines/dotnet-framework-pr.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Change coding agent wording in AGENTS.md
  AGENTS.md
Due: eng/pipelines/dotnet-framework-pr.yml

Format AGENTS.md
  AGENTS.md
Due: eng/pipelines/dotnet-framework-pr.yml

Use dotnet-public feed instead of NuGet.org for NuGet packages in Dockerfiles (#1290)
  eng/dockerfile-templates/aspnet/Dockerfile
  eng/dockerfile-templates/aspnet/Dockerfile.pre20H2
  eng/dockerfile-templates/sdk/Dockerfile.install-reference-assemblies
  eng/pipelines/dotnet-framework-samples.yml
  eng/pipelines/dotnet-framework.yml
  manifest.versions.json
  samples/aspnetapp/Dockerfile
  samples/aspnetapp/NuGet.config
  samples/aspnetmvcapp/Dockerfile
  samples/aspnetmvcapp/NuGet.config
  samples/dotnetapp/Dockerfile
  samples/dotnetapp/NuGet.config
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add GitHub Copilot instructions / AGENTS.md (#1289)
  AGENTS.md
  eng/pipelines/dotnet-framework-pr.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Path conditions:
  eng/pipelines/dotnet-framework-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-framework-pr.yml: any file but: .github, README*, samples
