Repository microsoft/dotnet-framework-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

eng/pipelines/dotnet-framework-pr-no-cache.yml:

trigger: none
pr:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - tests/*

resources:
  repositories:
  - repository: PublicVersionsRepo
    type: github
    endpoint: public
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
    windowsAmdBuildJobTimeout: 330
    noCache: true
    ${{ if eq(variables['System.TeamProject'], variables.publicProjectName) }}:
      buildMatrixType: platformVersionedOs

eng/pipelines/dotnet-framework-pr.yml:

trigger: none
pr:
  branches:
    include:
    - main
    - dev
  paths:
    exclude:
    - .github/*
    - README*
    - samples/*

resources:
  repositories:
  - repository: PublicVersionsRepo
    type: github
    endpoint: public
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
    windowsAmdBuildJobTimeout: 330
    ${{ if eq(variables['System.TeamProject'], variables.publicProjectName) }}:
      buildMatrixType: platformVersionedOs

[main] Update common Docker engineering infrastructure with latest (#1140)
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Rename directory structure
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  eng/readme-templates/Get-GeneratedReadmes.ps1
  manifest.json
  manifest.samples.json
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Define READMEs for Docker Hub
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  eng/pipelines/variables/common.yml
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/Get-GeneratedReadmes.ps1
  eng/readme-templates/README.dockerhub.md
  eng/readme-templates/README.github.md
  eng/readme-templates/README.md
  eng/readme-templates/Url.md
  manifest.json
  manifest.samples.json
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Define READMEs for Docker Hub (#1142)
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  eng/pipelines/variables/common.yml
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/Get-GeneratedReadmes.ps1
  eng/readme-templates/README.dockerhub.md
  eng/readme-templates/README.github.md
  eng/readme-templates/README.md
  eng/readme-templates/Url.md
  manifest.json
  manifest.samples.json
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1143)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use new URL format for Docker Hub pages
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/Url.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use new URL format for Docker Hub pages (#1144)
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/Url.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Move new windows release issue template from dotnet/release
  .github/ISSUE_TEMPLATE/new-windows-release.md
Due: none

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1145)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Updates per code review feedback.
  .github/ISSUE_TEMPLATE/new-windows-release.md
Due: none

Move new windows release issue template from dotnet/release (#1147)
  .github/ISSUE_TEMPLATE/new-windows-release.md
Due: none

Update KB download URLs
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add Markdown linter GH action
  .github/ISSUE_TEMPLATE/workflows/markdownlint-problem-matcher.json
  .github/ISSUE_TEMPLATE/workflows/markdownlint.yml
  .markdownlint.json
Due: eng/pipelines/dotnet-framework-pr.yml

Fix markdown syntax violations
  .markdownlint.json
  LICENSE.TXT
  SECURITY.md
  documentation/supported-tags.md
  eng/pipelines/README.md
  samples/aspnetapp/README.md
  samples/aspnetmvcapp/README.md
  samples/wcfapp/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1149)
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add Markdown linter GH action (#1155)
  .github/ISSUE_TEMPLATE/workflows/markdownlint-problem-matcher.json
  .github/ISSUE_TEMPLATE/workflows/markdownlint.yml
  .markdownlint.json
Due: eng/pipelines/dotnet-framework-pr.yml

Update NuGet to v6.10.2
  manifest.versions.json
Due: eng/pipelines/dotnet-framework-pr.yml

Update VS to 17.11
  manifest.versions.json
Due: eng/pipelines/dotnet-framework-pr.yml

Fix markdown syntax violations (#1156)
  .markdownlint.json
  LICENSE.TXT
  SECURITY.md
  documentation/supported-tags.md
  eng/pipelines/README.md
  samples/aspnetapp/README.md
  samples/aspnetmvcapp/README.md
  samples/wcfapp/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix markdown syntax violations
  .markdownlint.json
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/common/templates/variables/docker-images.yml
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/GitHub.header.md
  eng/readme-templates/README.dockerhub.md
  eng/readme-templates/README.github.md
  eng/readme-templates/README.mcr.md
  eng/readme-templates/RelatedRepos.md
  eng/readme-templates/RepoList.md
  eng/readme-templates/ReposProvider.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix spacing issue
  README.md
  eng/readme-templates/RelatedRepos.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update VSTest Output Regex
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use correct date
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update KB Download URLs
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Regenerate Readmes
  README.aspnet.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
Due: none

[main] Update common Docker engineering infrastructure with latest (#1160)
  README.aspnet.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix markdown syntax
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.wcf.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.wcf.portal.md
  README.aspnet.md
  README.md
  README.wcf.md
  eng/readme-templates/About.product-family.md
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.wcf.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix markdown syntax violations (#1157)
  .markdownlint.json
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/About.product-family.md
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/GitHub.header.md
  eng/readme-templates/README.dockerhub.md
  eng/readme-templates/README.github.md
  eng/readme-templates/README.mcr.md
  eng/readme-templates/RelatedRepos.md
  eng/readme-templates/RepoList.md
  eng/readme-templates/ReposProvider.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.wcf.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Switch markdownlint GH action to use super-linter
  .github/ISSUE_TEMPLATE/workflows/markdownlint-problem-matcher.json
  .github/ISSUE_TEMPLATE/workflows/markdownlint.yml
  .github/linters/.markdown-lint.yml
  .github/workflows/lint-code-base.yml
  .markdownlint.json
Due: eng/pipelines/dotnet-framework-pr.yml

Switch markdownlint GH action to use super-linter (#1161)
  .github/ISSUE_TEMPLATE/workflows/markdownlint-problem-matcher.json
  .github/ISSUE_TEMPLATE/workflows/markdownlint.yml
  .github/linters/.markdown-lint.yml
  .github/workflows/lint-code-base.yml
  .markdownlint.json
Due: eng/pipelines/dotnet-framework-pr.yml

Test linter
  SECURITY.md
Due: eng/pipelines/dotnet-framework-pr.yml

Add Check Markdown Link GH action
  .github/linters/.check-markdown-links.json
  .github/workflows/check-markdown-links.yml
Due: none
