Repository microsoft/dotnet-framework-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

eng/pipelines/dotnet-framework-pr-no-cache.yml:

trigger: none
pr:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - tests/*

resources:
  repositories:
  - repository: PublicVersionsRepo
    type: github
    endpoint: public
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
    windowsAmdBuildJobTimeout: 330
    noCache: true
    ${{ if eq(variables['System.TeamProject'], variables.publicProjectName) }}:
      buildMatrixType: platformVersionedOs

eng/pipelines/dotnet-framework-pr.yml:

trigger: none
pr:
  branches:
    include:
    - main
    - dev
  paths:
    exclude:
    - .github/*
    - README*
    - samples/*

resources:
  repositories:
  - repository: PublicVersionsRepo
    type: github
    endpoint: public
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
    windowsAmdBuildJobTimeout: 330
    ${{ if eq(variables['System.TeamProject'], variables.publicProjectName) }}:
      buildMatrixType: platformVersionedOs

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1010)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Regen dockerfiles
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1012)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Readme updates
  .mcr/portal/README.aspnet.portal.md
  .mcr/portal/README.runtime.portal.md
  .mcr/portal/README.samples.portal.md
  .mcr/portal/README.sdk.portal.md
  .mcr/portal/README.wcf.portal.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/FeaturedTags.md
  eng/readme-templates/RelatedRepos.md
  eng/readme-templates/Use.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Readme updates (#1018)
  .mcr/portal/README.aspnet.portal.md
  .mcr/portal/README.runtime.portal.md
  .mcr/portal/README.samples.portal.md
  .mcr/portal/README.sdk.portal.md
  .mcr/portal/README.wcf.portal.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/FeaturedTags.md
  eng/readme-templates/RelatedRepos.md
  eng/readme-templates/Use.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

.NET install script workaround
  eng/common/Install-DotNetSdk.ps1
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

.NET install script workaround (#1021)
  eng/common/Install-DotNetSdk.ps1
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/Get-ImageBuilder.ps1
  eng/common/Get-ImageNameVars.ps1
  eng/common/Install-DotNetSdk.ps1
  eng/common/Invoke-CleanupDocker.ps1
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1019)
  eng/common/Get-ImageBuilder.ps1
  eng/common/Get-ImageNameVars.ps1
  eng/common/Install-DotNetSdk.ps1
  eng/common/Invoke-CleanupDocker.ps1
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use Dockerfile paths to determine which test data is in scope
  tests/Microsoft.DotNet.Framework.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageDescriptor.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageTestHelper.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageTypes.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/Microsoft.DotNet.Framework.Docker.Tests.csproj
  tests/Microsoft.DotNet.Framework.Docker.Tests/RuntimeImageDescriptor.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/RuntimeOnlyImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/RuntimeSdkImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/SkippableTheoryAttribute.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/TestData.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/WcfImageTests.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/parse-test-arg-arrays.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Updates
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/WcfImageTests.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Refactor to use common method
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageTestHelper.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/WcfImageTests.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use Dockerfile paths to determine which test data is in scope (#1026)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/parse-test-arg-arrays.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  tests/Microsoft.DotNet.Framework.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageDescriptor.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageTestHelper.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/ImageTypes.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/Microsoft.DotNet.Framework.Docker.Tests.csproj
  tests/Microsoft.DotNet.Framework.Docker.Tests/RuntimeImageDescriptor.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/RuntimeOnlyImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/RuntimeSdkImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/SkippableTheoryAttribute.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/TestData.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/WcfImageTests.cs
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1029)
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Upgrade jQuery version in samples
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.4.1.min.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.4.1.min.map
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.4.1.slim.min.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.4.1.slim.min.map
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.intellisense.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.min.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.min.map
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.slim.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.slim.min.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.slim.min.map
  samples/aspnetapp/aspnetapp/Web.config
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
  samples/aspnetapp/aspnetapp/packages.config
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.4.1.min.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.4.1.min.map
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.4.1.slim.min.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.4.1.slim.min.map
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.intellisense.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.min.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.min.map
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.slim.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.slim.min.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.slim.min.map
  samples/aspnetmvcapp/aspnetmvcapp/Web.config
  samples/aspnetmvcapp/aspnetmvcapp/aspnetmvcapp.csproj
  samples/aspnetmvcapp/aspnetmvcapp/packages.config
Due: none

[main] Update common Docker engineering infrastructure with latest (#1030)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove .NET Core 3.1 from SDK Dockerfiles
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1037)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1038)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Upgrade jQuery version in samples (#1035)
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.4.1.min.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.4.1.min.map
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.4.1.slim.min.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.4.1.slim.min.map
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.intellisense.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.min.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.min.map
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.slim.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.slim.min.js
  samples/aspnetapp/aspnetapp/Scripts/jquery-3.5.1.slim.min.map
  samples/aspnetapp/aspnetapp/Web.config
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
  samples/aspnetapp/aspnetapp/packages.config
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.4.1.min.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.4.1.min.map
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.4.1.slim.min.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.4.1.slim.min.map
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.intellisense.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.min.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.min.map
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.slim.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.slim.min.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery-3.5.1.slim.min.map
  samples/aspnetmvcapp/aspnetmvcapp/Web.config
  samples/aspnetmvcapp/aspnetmvcapp/aspnetmvcapp.csproj
  samples/aspnetmvcapp/aspnetmvcapp/packages.config
Due: none

Remove .NET Core 3.1 from SDK Dockerfiles (#1036)
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Updates for 1B release
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update SDK timestamp for all versions
  README.sdk.md
  manifest.datestamps.json
Due: eng/pipelines/dotnet-framework-pr.yml

Updates for 1B release (#1039)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml
