Repository microsoft/dotnet-framework-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

eng/pipelines/dotnet-framework-pr-no-cache.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
  ...

eng/pipelines/dotnet-framework-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
  ...

Update KB URLs
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Updates for February 2025 (#1210)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Temporarily disable Server 2025 image publishing
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  eng/mcr-tags-metadata-templates/wcf-tags.yml
  manifest.json
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update variable group names to target new subscription (#1208)
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Wrap net35 app in a solution
  tests/Microsoft.DotNet.Framework.Docker.Tests/projects/dotnetapp-3.5/Dockerfile
  tests/Microsoft.DotNet.Framework.Docker.Tests/projects/dotnetapp-3.5/dotnetapp-3.5.sln
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove .NET 6 SDK from Windows Server 2016 SDK images
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.install-vs-buildtools
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use combined reference assembly zip
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.install-reference-assemblies
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix warnings in template generation scripts on Windows
  eng/dockerfile-templates/Get-GeneratedDockerfiles.ps1
  eng/readme-templates/Get-GeneratedReadmes.ps1
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update windows condition
  eng/common/Invoke-ImageBuilder.ps1
  eng/dockerfile-templates/Get-GeneratedDockerfiles.ps1
  eng/readme-templates/Get-GeneratedReadmes.ps1
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix warnings in template generation scripts on Windows (#1218)
  eng/common/Invoke-ImageBuilder.ps1
  eng/dockerfile-templates/Get-GeneratedDockerfiles.ps1
  eng/readme-templates/Get-GeneratedReadmes.ps1
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

Updates from code review
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

Update bug report template (#1219)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

Use Windows Update and Features on Demand to install .NET Fx 3.5
  eng/dockerfile-templates/runtime/Dockerfile
  eng/dockerfile-templates/runtime/Dockerfile.install-netfx3
  eng/dockerfile-templates/runtime/Dockerfile.ltsc2016
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Move ServiceMonitor download URL into versions file
  eng/dockerfile-templates/aspnet/Dockerfile
  eng/dockerfile-templates/aspnet/Dockerfile.3.5.pre20H2
  eng/dockerfile-templates/aspnet/Dockerfile.pre20H2
  manifest.versions.json
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Move ServiceMonitor download URL into versions file (#1222)
  eng/dockerfile-templates/aspnet/Dockerfile
  eng/dockerfile-templates/aspnet/Dockerfile.3.5.pre20H2
  eng/dockerfile-templates/aspnet/Dockerfile.pre20H2
  manifest.versions.json
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Factor out reference assembly installation
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.install-refassemblies
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use NuGet packages to install reference assemblies
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.install-refassemblies
  eng/dockerfile-templates/sdk/Dockerfile.install-reference-assemblies
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  manifest.versions.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Do all cleanup at once
  eng/dockerfile-templates/sdk/Dockerfile.install-reference-assemblies
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix nits
  eng/dockerfile-templates/sdk/Dockerfile.install-reference-assemblies
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Regen
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Factor out reference assembly destination path
  eng/dockerfile-templates/sdk/Dockerfile.install-reference-assemblies
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update NuGet version
  README.sdk.md
  manifest.datestamps.json
  manifest.versions.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update KBs and DateStamps
  README.aspnet.md
  README.runtime.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1186)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix 3B datestamp
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update KB download URL
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix and simplify xml regex
  eng/dockerfile-templates/sdk/Dockerfile.install-reference-assemblies
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1226)
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add documentation
  documentation/install-netfx3.md
Due: eng/pipelines/dotnet-framework-pr.yml

Add notice to readmes
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/About.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove locale from documentation URLs
  documentation/install-netfx3.md
Due: eng/pipelines/dotnet-framework-pr.yml

Revert "Add notice to readmes"
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/About.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add security updates info
  documentation/install-netfx3.md
Due: eng/pipelines/dotnet-framework-pr.yml

Document recommended pattern for installing .NET Framework 3.5 (#1232)
  documentation/install-netfx3.md
Due: eng/pipelines/dotnet-framework-pr.yml

Update ServiceMonitor URL to GitHub Releases download
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Path conditions:
  eng/pipelines/dotnet-framework-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-framework-pr.yml: any file but: .github, README*, samples
