Repository microsoft/dotnet-framework-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

eng/pipelines/dotnet-framework-pr-no-cache.yml:

trigger: none
pr:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - tests/*

resources:
  repositories:
  - repository: VersionsRepo
    type: github
    endpoint: public
    name: dotnet/versions

variables:
- template: /eng/pipelines/variables/common.yml@self
- name: manifest
  value: manifest.json
- name: imageBuilder.pathArgs
  value: ""
  readonly: true

stages:
- template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
  parameters:
    stagesTemplate: /eng/pipelines/stages/dotnet-framework-base.yml@self
    stagesTemplateParameters:
      versionsRepoRef: VersionsRepo
      noCache: true

eng/pipelines/dotnet-framework-pr.yml:

trigger: none
pr:
  branches:
    include:
    - main
    - dev
  paths:
    exclude:
    - .github/*
    - README*
    - samples/*

resources:
  repositories:
  - repository: VersionsRepo
    type: github
    endpoint: public
    name: dotnet/versions

variables:
- template: /eng/pipelines/variables/common.yml@self
- name: manifest
  value: manifest.json

stages:
- template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
  parameters:
    stagesTemplate: /eng/pipelines/stages/dotnet-framework-base.yml@self
    stagesTemplateParameters:
      versionsRepoRef: VersionsRepo

Update common Docker engineering infrastructure with latest
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/skill-helpers/AzureDevOps.ps1
  eng/docker-tools/skill-helpers/Get-FailingPipelines.ps1
  eng/docker-tools/skill-helpers/Get-RecentBuilds.ps1
  eng/docker-tools/skill-helpers/Show-BuildTimeline.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestBuilds.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestComments.ps1
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1308)
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/skill-helpers/AzureDevOps.ps1
  eng/docker-tools/skill-helpers/Get-FailingPipelines.ps1
  eng/docker-tools/skill-helpers/Get-RecentBuilds.ps1
  eng/docker-tools/skill-helpers/Show-BuildTimeline.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestBuilds.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestComments.ps1
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update NuGet to 7.6.0
  README.sdk.md
  manifest.datestamps.json
  manifest.versions.json
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update NuGet to 7.6.0 (#1309)
  README.sdk.md
  manifest.datestamps.json
  manifest.versions.json
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1310)
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update eng/docker-tools with latest
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/steps/set-dry-run.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Prepare .NET Framework images for July 2026 release
  manifest.datestamps.json
  manifest.versions.json
Due: eng/pipelines/dotnet-framework-pr.yml

Update July 2026 .NET Framework patches
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.versions.json
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update .NET Framework images for July 2026 release (#1312)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/steps/set-dry-run.yml
  eng/docker-tools/templates/variables/docker-images.yml
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Pin 1ES Pipeline Templates version
  eng/docker-tools/templates/1es.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Pin 1ES Pipeline Templates version (#1313)
  eng/docker-tools/templates/1es.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update .NET Framework images for August 2026 release
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update .NET Framework images for August 2026 release (#1316)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/check-markdown-links.yml
  .github/workflows/lint-code-base.yml
Due: none

Pin GitHub Actions to full-length commit SHAs (#1317)
  .github/dependabot.yml
  .github/workflows/check-markdown-links.yml
  .github/workflows/lint-code-base.yml
Due: none

Update .NET Framework images for September 2026 release
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update September 2026 .NET Framework LCU download URLs
  manifest.versions.json
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update .NET Framework images for September 2026 release (#1319)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml
