Repository microsoft/dotnet-framework-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

eng/pipelines/dotnet-framework-pr-no-cache.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
  ...

eng/pipelines/dotnet-framework-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
  ...

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update to net7.0
  eng/update-dependencies/Microsoft.DotNet.Framework.UpdateDependencies.csproj
  tests/Microsoft.DotNet.Framework.Docker.Tests/Microsoft.DotNet.Framework.Docker.Tests.csproj
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1042)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/cg-detection.yml
  eng/common/templates/variables/codeql.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Enable CodeQL Scanning
  .config/tsaconfig.json
  eng/pipelines/cg-detection.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Updates for VS 17.5 release
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  manifest.datestamps.json
  manifest.versions.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Updates for VS 17.5 release (#1047)
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  manifest.datestamps.json
  manifest.versions.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Enable CodeQL Scanning (#1046)
  .config/tsaconfig.json
  eng/pipelines/cg-detection.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

.NET Fx Servicing updates for March 2023
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  eng/dockerfile-templates/runtime/Dockerfile
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

.NET Fx Servicing updates for March 2023 (#1051)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  eng/dockerfile-templates/runtime/Dockerfile
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1053)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1054)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Bug bounty test - please ignore.... (mrclgc)
  eng/update-dependencies/Microsoft.DotNet.Framework.UpdateDependencies.csproj
  samples/dotnetapp/dotnetapp.csproj
  tests/Microsoft.DotNet.Framework.Docker.Tests/Microsoft.DotNet.Framework.Docker.Tests.csproj
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1055)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

.NET Fx Servicing updates for April 2023
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update NuGet to recommended version
  manifest.versions.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

.NET Fx Servicing updates for April 2023 (#1057)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

.NET Fx Servicing updates for May 2023
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

.NET Fx Servicing updates for May 2023 (#1062)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1061)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Updates for VS 17.6 release
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  manifest.datestamps.json
  manifest.versions.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Updates for VS 17.6 release (#1063)
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  manifest.datestamps.json
  manifest.versions.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update NuGet package versions in samples
  samples/aspnetapp/aspnetapp/ApplicationInsights.config
  samples/aspnetapp/aspnetapp/Web.config
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
  samples/aspnetapp/aspnetapp/packages.config
  samples/aspnetmvcapp/aspnetmvcapp/ApplicationInsights.config
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery.validate-vsdoc.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery.validate.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery.validate.min.js
  samples/aspnetmvcapp/aspnetmvcapp/Web.config
  samples/aspnetmvcapp/aspnetmvcapp/aspnetmvcapp.csproj
  samples/aspnetmvcapp/aspnetmvcapp/packages.config
Due: none

[main] Update common Docker engineering infrastructure with latest (#1067)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update NuGet package versions in samples (#1066)
  samples/aspnetapp/aspnetapp/ApplicationInsights.config
  samples/aspnetapp/aspnetapp/Web.config
  samples/aspnetapp/aspnetapp/aspnetapp.csproj
  samples/aspnetapp/aspnetapp/packages.config
  samples/aspnetmvcapp/aspnetmvcapp/ApplicationInsights.config
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery.validate-vsdoc.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery.validate.js
  samples/aspnetmvcapp/aspnetmvcapp/Scripts/jquery.validate.min.js
  samples/aspnetmvcapp/aspnetmvcapp/Web.config
  samples/aspnetmvcapp/aspnetmvcapp/aspnetmvcapp.csproj
  samples/aspnetmvcapp/aspnetmvcapp/packages.config
Due: none

Correct arch and spacing for ltsc 2016
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1070)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1071)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Path conditions:
  eng/pipelines/dotnet-framework-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-framework-pr.yml: any file but: .github, README*, samples
