Repository microsoft/dotnet-framework-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

eng/pipelines/dotnet-framework-pr-no-cache.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
  ...

eng/pipelines/dotnet-framework-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
  ...

Update linter to validate all code
  .github/workflows/lint-code-base.yml
Due: none

Fix Markdown syntax violations
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/new-windows-release.md
Due: none

Fix broken Docker Hub links
  documentation/guiding-principles.md
  documentation/supported-tags.md
  samples/README.md
  samples/aspnetapp/README.md
  samples/aspnetmvcapp/README.md
  samples/dotnetapp/README.md
  samples/wcfapp/README.md
Due: eng/pipelines/dotnet-framework-pr.yml

Fix broken links
  .github/ISSUE_TEMPLATE/new-windows-release.md
  .github/linters/.check-markdown-links.json
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.sdk.portal.md
  README.sdk.md
  eng/readme-templates/Use.sdk.md
  samples/README.md
  samples/aspnetapp/README.md
  samples/aspnetmvcapp/README.md
  samples/dotnetapp/README.md
  samples/wcfapp/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update linter to validate all code (#1164)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/new-windows-release.md
  .github/workflows/lint-code-base.yml
Due: none

Adjust links
  samples/wcfapp/README.md
Due: none

Remove unsupported json comments
  .github/linters/.check-markdown-links.json
Due: none

Address additional broken links
  samples/README.md
  samples/aspnetapp/README.md
  samples/dotnetapp/README.md
Due: none

Add Check Markdown Link GH action (#1163)
  .github/ISSUE_TEMPLATE/new-windows-release.md
  .github/linters/.check-markdown-links.json
  .github/workflows/check-markdown-links.yml
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.sdk.portal.md
  README.sdk.md
  documentation/guiding-principles.md
  documentation/supported-tags.md
  eng/readme-templates/Use.sdk.md
  samples/README.md
  samples/aspnetapp/README.md
  samples/aspnetmvcapp/README.md
  samples/dotnetapp/README.md
  samples/wcfapp/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add untriaged label to bug report
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Add untriaged label to feature request template
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

Add untriaged label to bug report (#1166)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

Update common Docker engineering infrastructure with latest
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1167)
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update NuGet version
  manifest.versions.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update LTSC 2016 base KB
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update datestamps
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Fix datestamps
  README.runtime.md
  manifest.datestamps.json
  src/aspnet/3.5/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update KB download URL
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Updates for September 2024 .NET Framework Servicing (#1168)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update pipelines to use eng/common 1es templates
  eng/pipelines/cg-detection.yml
  eng/pipelines/update-readmes.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update pipelines to use `eng/common` 1es templates (#1171)
  eng/pipelines/cg-detection.yml
  eng/pipelines/update-readmes.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1169)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix MAR search links with trailing slash
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  eng/readme-templates/Url.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix GitHub search links in CONTRIBUTING.md
  CONTRIBUTING.md
Due: eng/pipelines/dotnet-framework-pr.yml

Fix MAR search links with trailing slash (#1175)
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  CONTRIBUTING.md
  eng/readme-templates/Url.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Replace Docker Hub references with GitHub references
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/Url.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove Docker Hub references from documentation
  documentation/guiding-principles.md
  documentation/supported-tags.md
  samples/README.md
  samples/aspnetapp/README.md
  samples/aspnetmvcapp/README.md
  samples/dotnetapp/README.md
  samples/wcfapp/README.md
Due: eng/pipelines/dotnet-framework-pr.yml

Update windows base image license
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/Support.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix broken links
  samples/wcfapp/README.md
Due: none

Update Tag Lifecycle
  documentation/supported-tags.md
Due: eng/pipelines/dotnet-framework-pr.yml

Switch to using linkspector for validating markdown links
  .github/linters/.check-markdown-links.json
  .github/linters/.linkspector.yml
  .github/workflows/check-markdown-links.yml
Due: none

Modify md file to trigger action
  SECURITY.md
Due: eng/pipelines/dotnet-framework-pr.yml

Add ignore
  .github/linters/.linkspector.yml
  SECURITY.md
Due: eng/pipelines/dotnet-framework-pr.yml

Revert testing change
  SECURITY.md
Due: eng/pipelines/dotnet-framework-pr.yml

Switch to using linkspector for validating markdown links (#1178)
  .github/linters/.check-markdown-links.json
  .github/linters/.linkspector.yml
  .github/workflows/check-markdown-links.yml
Due: none

Update eng/readme-templates/Support.md
  eng/readme-templates/Support.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Eliminate culture specific links
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
Due: eng/pipelines/dotnet-framework-pr.yml

Path conditions:
  eng/pipelines/dotnet-framework-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-framework-pr.yml: any file but: .github, README*, samples
