Repository microsoft/dotnet-framework-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

eng/pipelines/dotnet-framework-pr-no-cache.yml:

trigger: none
pr:
  branches:
    include:
    - main
    - master
  paths:
    include:
    - eng/*
    - tests/*

resources:
  repositories:
  - repository: VersionsRepo
    type: github
    endpoint: dotnet
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
    windowsAmdBuildJobTimeout: 330
    noCache: true

eng/pipelines/dotnet-framework-pr.yml:

trigger: none
pr:
  branches:
    include:
    - main
    - master
    - dev
  paths:
    exclude:
    - .github/*
    - README*
    - samples/*

resources:
  repositories:
  - repository: VersionsRepo
    type: github
    endpoint: dotnet
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
    windowsAmdBuildJobTimeout: 330

Add main branch to list of pipeline trigger branches (#735)
  eng/pipelines/dotnet-framework-pr-no-cache.yml
  eng/pipelines/dotnet-framework-pr.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/steps/set-image-info-path-var.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Replace references to 'master' with 'main'
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
  .github/ISSUE_TEMPLATE/releases/vs-tools-release.md
  CONTRIBUTING.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/common/Invoke-ReadmeGeneration.ps1
  eng/pipelines/dotnet-framework-pr-no-cache.yml
  eng/pipelines/dotnet-framework-pr.yml
  eng/readme-templates/Get-GeneratedReadmes.ps1
  eng/readme-templates/README.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.md
  eng/readme-templates/Use.runtime.md
  eng/readme-templates/Use.samples.md
  eng/update-dependencies/Options.cs
  samples/README.md
  samples/aspnetapp/README.md
  samples/aspnetapp/deploy-container-to-aci.md
  samples/aspnetmvcapp/README.md
  samples/dotnetapp/README.md
  samples/dotnetapp/dotnet-docker-unit-testing.md
  samples/dotnetapp/push-image-to-acr.md
  samples/dotnetapp/push-image-to-dockerhub.md
  samples/wcfapp/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest (#736)
  eng/common/templates/steps/set-image-info-path-var.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Replace references to 'master' with 'main' (#737)
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
  .github/ISSUE_TEMPLATE/releases/vs-tools-release.md
  CONTRIBUTING.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/common/Invoke-ReadmeGeneration.ps1
  eng/pipelines/dotnet-framework-pr-no-cache.yml
  eng/pipelines/dotnet-framework-pr.yml
  eng/readme-templates/Get-GeneratedReadmes.ps1
  eng/readme-templates/README.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.md
  eng/readme-templates/Use.runtime.md
  eng/readme-templates/Use.samples.md
  eng/update-dependencies/Options.cs
  samples/README.md
  samples/aspnetapp/README.md
  samples/aspnetapp/deploy-container-to-aci.md
  samples/aspnetmvcapp/README.md
  samples/dotnetapp/README.md
  samples/dotnetapp/dotnet-docker-unit-testing.md
  samples/dotnetapp/push-image-to-acr.md
  samples/dotnetapp/push-image-to-dockerhub.md
  samples/wcfapp/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest (#739)
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Updated VS tools version
  manifest.versions.json
  src/sdk/3.5/windowsservercore-1909/Dockerfile
  src/sdk/3.5/windowsservercore-2004/Dockerfile
  src/sdk/3.5/windowsservercore-20H2/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-1909/Dockerfile
  src/sdk/4.8/windowsservercore-2004/Dockerfile
  src/sdk/4.8/windowsservercore-20H2/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Set default value for additionalGenerateBuildMatrixOptions var
  eng/common/templates/jobs/generate-matrix.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Servicing updates for 3B release
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.json
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Revert 2019 changes
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.json
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update timestamp for all SDK tags
  README.sdk.md
  manifest.json
Due: eng/pipelines/dotnet-framework-pr.yml

Servicing updates for 3B release (#743)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  eng/common/templates/jobs/generate-matrix.yml
  manifest.json
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-1909/Dockerfile
  src/sdk/3.5/windowsservercore-2004/Dockerfile
  src/sdk/3.5/windowsservercore-20H2/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-1909/Dockerfile
  src/sdk/4.8/windowsservercore-2004/Dockerfile
  src/sdk/4.8/windowsservercore-20H2/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest (#745)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove dependency on dotnet.myget.org NuGet feed
  eng/update-dependencies/Microsoft.DotNet.Framework.UpdateDependencies.csproj
  eng/update-dependencies/NuGet.config
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove dependency on dotnet.myget.org NuGet feed (#747)
  eng/update-dependencies/Microsoft.DotNet.Framework.UpdateDependencies.csproj
  eng/update-dependencies/NuGet.config
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add dotnet-eng feed for VersionTools package
  eng/update-dependencies/NuGet.config
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add dotnet-eng feed for VersionTools package (#748)
  eng/update-dependencies/NuGet.config
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/cg-detection.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest (#746)
  eng/common/templates/jobs/cg-detection.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Updates for 4B servicing
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.json
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Updates for 4B servicing (#755)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.json
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest (#752)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update license notice to include VS Tools license
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use bulleted list
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update bullet items
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Minor updates
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix wording
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Rewording
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Regen readmes
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
Due: none

Updates
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update license notice to include VS Tools license (#756)
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/README.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Apply 4.8 patch to 3.5 SDK images
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  manifest.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Apply 4.8 patch to 3.5 SDK images (#758)
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  manifest.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Updates for 5B servicing
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.json
  manifest.versions.json
  src/runtime/3.5/windowsservercore-1909/Dockerfile
  src/runtime/3.5/windowsservercore-2004/Dockerfile
  src/runtime/3.5/windowsservercore-20H2/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.8/windowsservercore-1909/Dockerfile
  src/runtime/4.8/windowsservercore-2004/Dockerfile
  src/runtime/4.8/windowsservercore-20H2/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-1909/Dockerfile
  src/sdk/3.5/windowsservercore-2004/Dockerfile
  src/sdk/3.5/windowsservercore-20H2/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-1909/Dockerfile
  src/sdk/4.8/windowsservercore-2004/Dockerfile
  src/sdk/4.8/windowsservercore-20H2/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Apply LCU for 2016
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Updates for 5B servicing (#763)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.json
  manifest.versions.json
  src/runtime/3.5/windowsservercore-1909/Dockerfile
  src/runtime/3.5/windowsservercore-2004/Dockerfile
  src/runtime/3.5/windowsservercore-20H2/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-1909/Dockerfile
  src/runtime/4.8/windowsservercore-2004/Dockerfile
  src/runtime/4.8/windowsservercore-20H2/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-1909/Dockerfile
  src/sdk/3.5/windowsservercore-2004/Dockerfile
  src/sdk/3.5/windowsservercore-20H2/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-1909/Dockerfile
  src/sdk/4.8/windowsservercore-2004/Dockerfile
  src/sdk/4.8/windowsservercore-20H2/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Revert 3.5/4.8 changes, no security fixes for 5B
  README.aspnet.md
  README.runtime.md
  README.wcf.md
  manifest.json
  manifest.versions.json
  src/runtime/3.5/windowsservercore-1909/Dockerfile
  src/runtime/3.5/windowsservercore-2004/Dockerfile
  src/runtime/3.5/windowsservercore-20H2/Dockerfile
  src/runtime/4.8/windowsservercore-1909/Dockerfile
  src/runtime/4.8/windowsservercore-2004/Dockerfile
  src/runtime/4.8/windowsservercore-20H2/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml
