Repository microsoft/dotnet-framework-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

eng/pipelines/dotnet-framework-pr-no-cache.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
  ...

eng/pipelines/dotnet-framework-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/stages/dotnet-framework-base.yml@self
      stagesTemplateParameters:
        versionsRepoRef: VersionsRepo

Regenerate readmes
  README.wcf.md
Due: none

Update version compatibility section of readme (#1255)
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  eng/readme-templates/Use.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update KB download URLs
  manifest.versions.json
Due: eng/pipelines/dotnet-framework-pr.yml

Regenerate Dockerfiles
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update samples pipeline to new infrastructure
  eng/pipelines/dotnet-framework-samples.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/1es.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update samples pipeline to new infrastructure (#1261)
  eng/pipelines/dotnet-framework-samples.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove unused variables
  manifest.versions.json
Due: eng/pipelines/dotnet-framework-pr.yml

Inventory drift
  es-metadata.yml
Due: eng/pipelines/dotnet-framework-pr.yml

Onboard to inventory-as-code (#1263)
  es-metadata.yml
Due: eng/pipelines/dotnet-framework-pr.yml

Set imageBuilder.pathArgs in the pipeline definition
  eng/pipelines/dotnet-framework-pr-no-cache.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use empty string for pathArgs
  eng/pipelines/dotnet-framework-pr-no-cache.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove old images from TestData
  tests/Microsoft.DotNet.Framework.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/RuntimeOnlyImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/RuntimeSdkImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/TestData.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/WcfImageTests.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update KB numbers and datestamps
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update KB download URLs
  manifest.versions.json
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

.NET Framework updates for October 2025 (#1264)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  manifest.versions.json
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Remove 2016, 2019 samples images and use only 4.8.1 images
  README.samples.md
  eng/mcr-tags-metadata-templates/samples-tags.yml
  manifest.samples.json
  samples/aspnetapp/Dockerfile
  samples/aspnetmvcapp/Dockerfile
  samples/dotnetapp/Dockerfile
  samples/wcfapp/Dockerfile.client
  samples/wcfapp/Dockerfile.console
  samples/wcfapp/Dockerfile.web
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update support statement
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/mar/README.samples.portal.md
  README.samples.md
  eng/readme-templates/Support.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update sample images to 4.8.1 (#1266)
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/mar/README.samples.portal.md
  README.samples.md
  eng/mcr-tags-metadata-templates/samples-tags.yml
  eng/readme-templates/Support.md
  manifest.samples.json
  samples/aspnetapp/Dockerfile
  samples/aspnetmvcapp/Dockerfile
  samples/dotnetapp/Dockerfile
  samples/wcfapp/Dockerfile.client
  samples/wcfapp/Dockerfile.console
  samples/wcfapp/Dockerfile.web
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/1es.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/dotnet/publish-config-nonprod.yml
  eng/common/templates/stages/dotnet/publish-config-prod.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Disable Dependabot updates in Azure DevOps
  .azuredevops/dependabot.yml
Due: eng/pipelines/dotnet-framework-pr.yml

Disable Dependabot updates in Azure DevOps (#1268)
  .azuredevops/dependabot.yml
Due: eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1260)
  eng/common/templates/1es.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/dotnet/publish-config-nonprod.yml
  eng/common/templates/stages/dotnet/publish-config-prod.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add .NET 10 Runtime to SDK images
  eng/dockerfile-templates/sdk/Dockerfile.install-vs-buildtools
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update SDK datestamps
  README.sdk.md
  manifest.datestamps.json
Due: eng/pipelines/dotnet-framework-pr.yml

Remove reference to Visual Studio Test Agent
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.sdk.portal.md
  README.sdk.md
  eng/readme-templates/About.sdk.md
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update Visual Studio Build Tools to 18.0
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.install-vs-buildtools
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  manifest.versions.json
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix broken "Dockerfiles" search link
  documentation/guiding-principles.md
Due: eng/pipelines/dotnet-framework-pr.yml

Fix broken "Dockerfiles" search link (#1272)
  documentation/guiding-principles.md
Due: eng/pipelines/dotnet-framework-pr.yml

Update .azuredevops/dependabot.yml
  .azuredevops/dependabot.yml
Due: eng/pipelines/dotnet-framework-pr.yml

Update ROSLYN_COMPILER_LOCATION environment variable
  eng/dockerfile-templates/sdk/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add Microsoft.VisualStudio.Component.TestTools.BuildTools to VS18 images
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.install-vs-buildtools
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix vswhere test
  tests/Microsoft.DotNet.Framework.Docker.Tests/SdkOnlyImageTests.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Path conditions:
  eng/pipelines/dotnet-framework-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-framework-pr.yml: any file but: .github, README*, samples
