Repository microsoft/dotnet-framework-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

eng/pipelines/dotnet-framework-pr-no-cache.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
  ...

eng/pipelines/dotnet-framework-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
  ...

Use Windows Update and Features on Demand to install .NET Framework 3.5 (#1220)
  eng/dockerfile-templates/runtime/Dockerfile
  eng/dockerfile-templates/runtime/Dockerfile.install-netfx3
  eng/dockerfile-templates/runtime/Dockerfile.ltsc2016
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use NuGet packages to install reference assemblies / targeting packs (#1224)
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.install-reference-assemblies
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  manifest.versions.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update ServiceMonitor URL to GitHub Releases download (#1233)
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1229)
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update KB download URLs
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Revert "Update KB download URLs"
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update Datestamps
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update new windows version checklist
  .github/ISSUE_TEMPLATE/new-windows-release.md
Due: none

Update linkspector ignore patterns
  .github/linters/.linkspector.yml
Due: none

Clean up references to dotnetbinaries (#1237)
  .github/ISSUE_TEMPLATE/new-windows-release.md
  .github/linters/.linkspector.yml
Due: none

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update datestamps
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/3.5/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2019/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2019/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Import v2.0.0 dotnet/issue-labeler default workflows
  .github/workflows/labeler-cache-retention.yml
  .github/workflows/labeler-predict-issues.yml
  .github/workflows/labeler-predict-pulls.yml
  .github/workflows/labeler-promote.yml
  .github/workflows/labeler-train.yml
Due: none

issue-labeler workflow customization for microsoft/dotnet-framework-docker
  .github/workflows/labeler-cache-retention.yml
  .github/workflows/labeler-predict-issues.yml
  .github/workflows/labeler-predict-pulls.yml
  .github/workflows/labeler-train.yml
Due: none

[main] Update common Docker engineering infrastructure with latest (#1241)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Remove .NET Framework 3.5 LTSC 2025 images
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.datestamps.json
  manifest.json
  tests/Microsoft.DotNet.Framework.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update KB download URL
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/task-prefix-decorator.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
  eng/common/templates/stages/setup-service-connections.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/init-common.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/run-imagebuilder.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/task-prefix-decorator.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update NuGet to 6.14.0
  manifest.versions.json
Due: eng/pipelines/dotnet-framework-pr.yml

Update KB for LTSC2016 LCU
  manifest.versions.json
Due: eng/pipelines/dotnet-framework-pr.yml

Update datestamps
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  manifest.datestamps.json
Due: eng/pipelines/dotnet-framework-pr.yml

Regenerate Dockerfiles
  src/aspnet/3.5/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.7/windowsservercore-ltsc2016/Dockerfile
  src/aspnet/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
  src/wcf/4.6.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.7/windowsservercore-ltsc2016/Dockerfile
  src/wcf/4.8/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Add new parameters and service connections to pipelines
  eng/pipelines/dotnet-framework-samples.yml
  eng/pipelines/dotnet-framework.yml
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update LTSC 2016 KB URL
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update SDK image datestamps
  README.sdk.md
  manifest.datestamps.json
Due: eng/pipelines/dotnet-framework-pr.yml

Path conditions:
  eng/pipelines/dotnet-framework-pr-no-cache.yml: any of: eng, tests
  eng/pipelines/dotnet-framework-pr.yml: any file but: .github, README*, samples
