Repository microsoft/dotnet-framework-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

eng/pipelines/dotnet-framework-pr-no-cache.yml:

trigger: none
pr:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - tests/*

resources:
  repositories:
  - repository: PublicVersionsRepo
    type: github
    endpoint: public
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
    windowsAmdBuildJobTimeout: 330
    noCache: true
    ${{ if eq(variables['System.TeamProject'], variables.publicProjectName) }}:
      buildMatrixType: platformVersionedOs

eng/pipelines/dotnet-framework-pr.yml:

trigger: none
pr:
  branches:
    include:
    - main
    - dev
  paths:
    exclude:
    - .github/*
    - README*
    - samples/*

resources:
  repositories:
  - repository: PublicVersionsRepo
    type: github
    endpoint: public
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: manifest
  value: manifest.json

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}
    buildMatrixCustomBuildLegGroupArgs: --custom-build-leg-group pr-build
    windowsAmdBuildJobTimeout: 330
    ${{ if eq(variables['System.TeamProject'], variables.publicProjectName) }}:
      buildMatrixType: platformVersionedOs

Update documentation/supported-tags.md
  documentation/supported-tags.md
Due: eng/pipelines/dotnet-framework-pr.yml

Eliminate culture specific links and update Docker Client links
  SECURITY.md
  documentation/guiding-principles.md
  samples/aspnetapp/README.md
  samples/aspnetmvcapp/README.md
  samples/dotnetapp/README.md
  samples/wcfapp/README.md
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add missing link
  samples/README.md
Due: none

Remove MAR link
  documentation/supported-tags.md
Due: eng/pipelines/dotnet-framework-pr.yml

Replace Docker Hub references with GitHub references (#1177)
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/docker-hub/README.wcf.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  .portal-docs/mar/README.wcf.portal.md
  README.aspnet.md
  README.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  SECURITY.md
  documentation/guiding-principles.md
  documentation/supported-tags.md
  eng/readme-templates/Support.md
  eng/readme-templates/Url.md
  samples/README.md
  samples/aspnetapp/README.md
  samples/aspnetmvcapp/README.md
  samples/dotnetapp/README.md
  samples/wcfapp/README.md
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update NuGet version
  manifest.versions.json
Due: eng/pipelines/dotnet-framework-pr.yml

Update KB numbers
  manifest.versions.json
Due: eng/pipelines/dotnet-framework-pr.yml

Update datestamps
  manifest.datestamps.json
Due: eng/pipelines/dotnet-framework-pr.yml

Update KB URLs
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2016/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.7.1/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7.2/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.7/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2016/Dockerfile
  src/runtime/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Regen readmes
  README.aspnet.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
Due: none

Upgrade test and infra projects to net9.0
  eng/update-dependencies/Microsoft.DotNet.Framework.UpdateDependencies.csproj
  tests/Microsoft.DotNet.Framework.Docker.Tests/Microsoft.DotNet.Framework.Docker.Tests.csproj
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1173)
  README.aspnet.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  README.wcf.md
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/update-dependencies/Microsoft.DotNet.Framework.UpdateDependencies.csproj
  tests/Microsoft.DotNet.Framework.Docker.Tests/Microsoft.DotNet.Framework.Docker.Tests.csproj
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add .NET 9 to SDK images
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  manifest.datestamps.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1182)
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add Dockerfiles for Windows Server 2025
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  README.wcf.md
  eng/dockerfile-templates/runtime/Dockerfile
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  eng/mcr-tags-metadata-templates/wcf-tags.yml
  manifest.datestamps.json
  manifest.json
  manifest.versions.json
  src/aspnet/3.5/windowsservercore-ltsc2025/Dockerfile
  src/aspnet/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2025/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2025/Dockerfile
  src/wcf/4.8.1/windowsservercore-ltsc2025/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Enable EOL annotations in pipeline
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Enable EOL annotations in pipeline (#1184)
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1185)
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Add .NET 9 to SDK images (#1181)
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.ltsc2016
  manifest.datestamps.json
  src/sdk/3.5/windowsservercore-ltsc2016/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2019/Dockerfile
  src/sdk/3.5/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8.1/windowsservercore-ltsc2022/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2016/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile
  src/sdk/4.8/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update KBs for Server 2019 and 2022
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Update KBs for Server 2019 and 2022 (#1188)
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2019/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile
Due: eng/pipelines/dotnet-framework-pr.yml

Fix name of tsaoptions.json file
  .config/tsaoptions.json
Due: eng/pipelines/dotnet-framework-pr.yml

Fix name of tsaoptions.json file (#1191)
  .config/tsaoptions.json
Due: eng/pipelines/dotnet-framework-pr.yml

Fix ngen command
  eng/dockerfile-templates/runtime/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Use GA version of Server 2025 base image
  eng/dockerfile-templates/runtime/Dockerfile
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2025/Dockerfile
  src/runtime/4.8.1/windowsservercore-ltsc2025/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update netfx3 cab filename
  eng/dockerfile-templates/runtime/Dockerfile
  src/runtime/3.5/windowsservercore-ltsc2025/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Update test data
  tests/Microsoft.DotNet.Framework.Docker.Tests/OsVersion.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/RuntimeSdkImageTests.cs
  tests/Microsoft.DotNet.Framework.Docker.Tests/TestData.cs
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml

Fix del command for netfx3 cab
  eng/dockerfile-templates/runtime/Dockerfile
  manifest.versions.json
  src/runtime/3.5/windowsservercore-ltsc2025/Dockerfile
Due: eng/pipelines/dotnet-framework-pr-no-cache.yml, eng/pipelines/dotnet-framework-pr.yml
